/* Existing styles for header, separator, and the previous sections remain unchanged */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Montserrat:wght@500&display=swap');


.kids-clothing-section {
    margin: 25px 10%;
}

.section-heading {
    text-align: left;
}

.section-heading h2 {
    margin: 20px;
    font-size: 40px;
    color: black;
    background-color: white;
    font-family: 'Montserrat';
}


.section-heading p {

    margin: 20px;
    font-size: 20px;
    font-family: 'Montserrat';
    
}
